<div class ="container">

<h2>Sửa sản phẩm</h2>

<form #editItemFormsp="ngForm" (ngSubmit)="editItemsp(editItemFormsp.value.id, editItemFormsp.value.Maloai, editItemFormsp.value.TenSach, editItemFormsp.value.MoTa, editItemFormsp.value.Anh, editItemFormsp.value.MaNXB, editItemFormsp.value.TacGia,editItemFormsp.value.NgayTao, editItemFormsp.value.SoLuong, editItemFormsp.value.Gia, editItemFormsp.value.GiaCu,editItemFormsp.value.sotrang, editItemFormsp.value.kichthuoc)"  enctype="multipart/form-data">
  <div class="form-group">

  <label for="id">Mã sách:</label>
  <input type="text" id="id" name="id" [(ngModel)]="category.id" class="form-control" required>
  </div>
  <div class = "form-group">

  <label for="Maloai">Thể loại:</label>
      <select id="Maloai" name="Maloai" [(ngModel)]="selectedMaloai" class="form-control" required>
        <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.TheLoai }}</option>
      </select>
  </div>
 
    <div class = "form-group">
  <div class="input-group mb-3"><span class="input-group-text" id="TenSach">Tên sách</span>

  <input type="text" id="TenSach" name="TenSach" [(ngModel)]="category.TenSach" class="form-control" required>
 
</div></div>

<div class = "form-group">
  <label for="MoTa"></label>

<!--   <div class="input-group mb-3"><span class="input-group-text" id="MoTa">Mô tả</span>
 -->    <ckeditor [editor]="Editor" [(ngModel)]="category.MoTa" [config]="config" name="MoTa" id="MoTa" style="width: 77% !important;height: 300px;"></ckeditor>
</div>

<!-- <div class = "form-group">

  <div class="input-group mb-3"><span class="input-group-text" id="Anh">Ảnh</span>
  <input type="text" id="Anh" name="Anh" [(ngModel)]="category.Anh" class="form-control" required >
</div></div> -->
<div class="form-group">
  <div class="input-group mb-3"><span class="input-group-text" >Ảnh</span>
     <label for="Anh"></label>
     
       <input type="file" id="formFile" name="Anh" ngModel (change)="onFileSelected($event)">
      
     
 
     </div></div>
<div class = "form-group"> 
  <div class="input-group mb-3"><span class="input-group-text" id="MaNXB">Nhà xuất bản</span>

  <!-- <input type="number" id="MaNXB" name="MaNXB" [(ngModel)]="category.MaNXB" class="form-control" required> -->
  <select id="MaNXB" name="MaNXB" [(ngModel)]="selectedMaNXB" class="form-control" required>
    <option *ngFor="let subject1 of subjects1" [value]="subject1.id">{{ subject1.TenNXB }}</option>
  </select></div>

</div> 
<div class = "form-group">
  <div class="input-group mb-3"><span class="input-group-text" id="TacGia">Tác giả</span>

  <input type="text" id="TacGia" name="TacGia" [(ngModel)]="category.TacGia" class="form-control" required>
</div>
</div>
<div class = "form-group">
  <div class="input-group mb-3"><span class="input-group-text" id="NgayTao">Ngày tạo</span>

  <input type="date" id="NgayTao" name="NgayTao" [(ngModel)]="category.NgayTao" class="form-control" required>
</div></div>
<div class = "form-group"><div class="input-group mb-3"><span class="input-group-text" id="SoLuong">Số lượng</span>

  <input type="number" id="SoLuong" name="SoLuong" [(ngModel)]="category.SoLuong" class="form-control" required>
</div></div>
<div class = "form-group">
  <div class="input-group mb-3"><span class="input-group-text" id="Gia">Giá</span>

  <input type="number" id="Gia" name="Gia" [(ngModel)]="category.Gia" class="form-control" required>
</div></div>
<div class = "form-group">
  <div class="input-group mb-3"><span class="input-group-text" id="GiaCu">Giá cũ</span>

  <input type="number" id="GiaCu" name="GiaCu" [(ngModel)]="category.GiaCu" class="form-control" required>
</div></div>
<div class = "form-group">
  <div class="input-group mb-3"><span class="input-group-text" id="sotrang">Số trang</span>

  <input type="number" id="sotrang" name="sotrang" [(ngModel)]="category.sotrang" class="form-control" required>
</div></div>
<div class = "form-group">
  <div class="input-group mb-3"><span class="input-group-text" id="kichthuoc">Kích thước</span>

  <input type="text" id="kichthuoc" name="kichthuoc" [(ngModel)]="category.kichthuoc" class="form-control" required>
</div>
</div>
  <!-- editItemFormsp.value.Gia, editItemFormsp.value.TacGia, editItemFormsp.value.PhanKhuc, editItemFormsp.value.VongTuaMay, editItemFormsp.value.MoMenXoan, editItemFormsp.value.ViewCount, editItemFormsp.value.ReducePrice)"> -->

  <!-- Add more fields as needed -->

  <button type="submit" class="btn btn-primary">Sửa</button>
  <p *ngIf="nameImg">Selected file: {{ nameImg }}</p>
</form>