<!-- your-component.component.html -->
<div class ="container">

<div>
    <h2>Thêm khách hàng</h2>
    <div class="tab-content rounded-bottom">
      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1272">
    <!-- Simple form to input item details -->
    <form #addItemForm="ngForm" (ngSubmit)="addNewItem(addItemForm.value)">
      <div class="form-group">
      <label for="TenKhachHang"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="TenKhachHang">Họ tên</span>
  
      <input type="text" id="TenKhachHang" name="TenKhachHang" ngModel class="form-control"  required>
      </div></div>
      <div class="form-group">

      <div class="input-group mb-3"><span class="input-group-text" id="DiaChi">Địa chỉ</span>
  
      <label for="DiaChi"></label>
      <input type="text" id="DiaChi" name="DiaChi" ngModel class="form-control"  required>
   </div></div>
     <!--  <label for="Anh"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="Anh">Ảnh</span>
  
      <input type="text" id="Anh" name="Anh" ngModel required>
    
      </div> -->
      <div class="form-group">

      <label for="SoDienThoai"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="SoDienThoai">SĐT</span>
  
      <input type="text" id="SoDienThoai" name="SoDienThoai" ngModel class="form-control"  required>
      </div></div>

      <div class="form-group">

      <label for="Email"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="Email">Email</span>
  
      <input type="text" id="Email" name="Email" ngModel class="form-control"  required>
      </div></div>

      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
    </div>
  </div>
  </div>
</div>