

<div>
  
    <div class="card shadow mb-4">
                           <div class="card-header py-3">
                               <h6 class="m-0 font-weight-bold text-primary">Quản lý hóa đơn bán</h6>
                           </div>
                           
                           <div class="card-body">
   
                               <div class="table-responsive">
                                   <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                       <thead>
                                           <tr>
                                             <th>STT</th>
                                             <th>id</th>
                                             <th>Họ tên</th>
                                             <th>Địa chỉ</th>
                                             <th>Số điện thoại</th>
                                             <th>Email</th>
                                             <th>Ngày đặt</th>
                                             <th>Tổng</th>
                                             <th>Trạng thái</th>
                                             <th></th>
                                           </tr>
                                       </thead>
                                       
                                       <tbody>
                                           <tr *ngFor="let item of subjects| paginate: { itemsPerPage: 10, currentPage: p };let i = index">
                                               
                                               <td>{{ i+1 }}</td>
                                               <td>{{ item.id }}</td>
                                               <td>{{ item.Hoten }}</td>
                                               <td>{{ item.Diachi }}</td>
                                               <td>{{ item.sdt }}</td>
                                               <td>{{ item.Email }}</td>
                                               <td>{{ item.Ngaydat | date : "dd/MM/yyyy" }}</td>
                                               <td>{{ item.Tong | number}}đ</td>
                                               <td>{{ item.Trangthai }}</td>

                                               <!-- <td>
                                               
                                                 <button class="btn btn-danger fa fa-trash"  (click)="emoveItem(item.id)">Xóa</button>
                                               </td>-->
                                               <td><a (click)="suatrangthai(item.id, item.Trangthai)" class="btn btn-warning" > Sửa</a></td>

                                               <td><a (click)="redirectToDetailPage(item)"  class="btn btn-info fa fa-eye"></a></td>

                                               <td>
                                                 
                                                 <a (click)="removehoadonban(item.id)" class="btn btn-danger">Xóa</a>
                                                 
                                             </td>
                                       
                                       
                                       </tbody>
                                   </table>
                                   <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>

                               </div>
                           </div>
                       </div>