<!-- your-component.component.html -->

<div>
    <h2>Thêm nhân viên</h2>
    <div class="tab-content rounded-bottom">
      <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1272">
    <!-- Simple form to input item details -->
    <form #addItemForm="ngForm" (ngSubmit)="addNewItem(addItemForm.value)">
      
      <!-- <label for="MaLoai_id">MaLoai:</label>
      <input type="text" id="MaLoai_id" name="MaLoai_id" ngModel required> -->
      <div class="form-group">

      <label for="HoTen"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="HoTen">Họ tên</span>
  
      <input type="text" id="HoTen" name="HoTen" ngModel class="form-control"  required>
      </div></div>
      <div class="form-group">
    <label for="Anh"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="Anh">Ảnh</span>
  
      <input type="text" id="Anh" name="Anh" ngModel class="form-control"  required>
      <!-- <input type="file" (change)="onFileSelected($event)">
      <button (click)="uploadFile()">Upload</button> -->
      </div></div>

      <div class="form-group">
      <label for="NgaySinh"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="NgaySinh">Ngày sinh</span>
      <input type="text" id="NgaySinh" name="NgaySinh" ngModel class="form-control"  required>
      </div></div>
      <div class="form-group">
      <label for="GioiTinh"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="GioiTinh">Giới tính</span>
  
      <input type="text" id="GioiTinh" name="GioiTinh" ngModel class="form-control"  required>
      </div></div>

      <div class="form-group">
      <label for="DiaChi"></label>
      <div class="input-group mb-3"><span class="input-group-text" id="DiaChi">Địa chỉ</span>
  
      <input type="text" id="DiaChi" name="DiaChi" ngModel class="form-control"  required>
      </div></div>
      
      <div class="form-group">
      <label for="Email"></label>
    <div class="input-group mb-3"><span class="input-group-text" id="Email">Email</span>

    <input type="text" id="Email" name="Email" ngModel class="form-control"  required>
    </div></div>

    <div class="form-group">
    <label for="DienThoai"></label>
    <div class="input-group mb-3"><span class="input-group-text" id="DienThoai">SĐT</span>

    <input type="text" id="DienThoai" name="DienThoai" ngModel class="form-control"  required>
    </div></div>

    <div class="form-group">
    <label for="TrangThai"></label>
    <div class="input-group mb-3"><span class="input-group-text" id="TrangThai">Trạng thái</span>

    <input type="text" id="TrangThai" name="TrangThai" ngModel class="form-control"  required>
    </div></div>

    
      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
    </div>
  </div>
  </div>
  